name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest, ubuntu-22.04-arm]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 20

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python setup tools
        run: |
          pip install setuptools

      - name: Install dependencies
        run: yarn

      - name: Add macOS certs
        if: runner.os == 'macOS'
        run: chmod +x ./.github/add-macos-certificate.sh && ./.github/add-macos-certificate.sh
        env:
          APPLE_CERTIFICATES: ${{ secrets.APPLE_CERTIFICATES }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_CERTIFICATES_PASSWORD }}

      - name: Publish x64
        if: ${{ runner.arch == 'X64' || runner.os == 'macOS' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: yarn run publish --arch x64

      - name: Publish arm64
        if: ${{ runner.arch == 'ARM64' || runner.os == 'macOS'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: yarn run publish --arch arm64
